.list-items {
    list-style-type: none;
}

.focus {
    font-weight: bold;
}

.btn-options {
    padding: 10px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}